<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Criar Setores</title>
<link rel="stylesheet" href="/css/styles.css">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
</head>
<body>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
	<div class="caixa-setores-topo">
		<img src="/images/setores-icon.png" alt="Setores">
		<p>SETORES</p>
	</div>
	
	<div class="secao-principal">
	 	<div class="div-acordion">
			<p class="label-principal">SETORES</p> 	
			<details>
		  	<summary>SETOR 1</summary>
		  	<div class="content">
				 <div class="cargos">
					  <button>Cargo 1</button>
					  <button>Cargo 2</button>
					  <button>Cargo 3</button>
					  <button>Cargo 4</button>
					  <button>Cargo 5</button>
					  <button>Cargo 6</button>
					  <button>Cargo 7</button>
					  <button>Cargo 8</button>
					  <button>Cargo 9</button>
				  </div>
				  <div class="opcoes">
					  <button>Editar</button>
					  <button>Excluir</button>
				  </div>
		  	</div>
			</details>
			
			<details>
		  	<summary>SETOR 2</summary>
		  	<div class="content">
				 <div class="cargos">
					  <button>Cargo 1</button>
					  <button>Cargo 2</button>
					  <button>Cargo 3</button>
					  <button>Cargo 4</button>
					  <button>Cargo 5</button>
					  <button>Cargo 6</button>
					  <button>Cargo 7</button>
					  <button>Cargo 8</button>
					  <button>Cargo 9</button>
				  </div>
				  <div class="opcoes">
					  <button>Editar</button>
					  <button>Excluir</button>
				  </div>
		  	</div>
			</details>
			
			<details>
		  	<summary>SETOR 3</summary>
		  	<div class="content">
				 <div class="cargos">
					  <button>Cargo 1</button>
					  <button>Cargo 2</button>
					  <button>Cargo 3</button>
					  <button>Cargo 4</button>
					  <button>Cargo 5</button>
					  <button>Cargo 6</button>
					  <button>Cargo 7</button>
					  <button>Cargo 8</button>
					  <button>Cargo 9</button>
				  </div>
				  <div class="opcoes">
					  <button>Editar</button>
					  <button>Excluir</button>
				  </div>
		  	</div>
			</details>
	 	</div>
	 	
	 	<div class="col-adicionar-setor">
			 <p class="label-principal">ADICIONAR SETOR</p>
			 <label>Nome:</label>
			 <input>
		 </div>
 	</div>
</body>
</html>